.highlight .hll,.highlight-ipynb .hll {
background-color:#FFFFCC;
}
.highlight .c,.highlight-ipynb .c {
color:#408090;
font-style:italic;
}
.highlight .err,.highlight-ipynb .err {
border:1px solid #FF0000;
}
.highlight .k,.highlight-ipynb .k {
color:#007020;
font-weight:bold;
}
.highlight .o,.highlight-ipynb .o {
color:#666666;
}
.highlight .cm,.highlight-ipynb .cm {
color:#408090;
font-style:italic;
}
.highlight .cp,.highlight-ipynb .cp {
color:#007020;
}
.highlight .c1,.highlight-ipynb .c1 {
color:#408090;
font-style:italic;
}
.highlight .cs,.highlight-ipynb .cs {
background-color:#FFF0F0;
color:#408090;
}
.highlight .gd,.highlight-ipynb .gd {
color:#A00000;
}
.highlight .ge,.highlight-ipynb .ge {
font-style:italic;
}
.highlight .gr,.highlight-ipynb .gr {
color:#FF0000;
}
.highlight .gh,.highlight-ipynb .gh {
color:#000080;
font-weight:bold;
}
.highlight .gi,.highlight-ipynb .gi {
color:#00A000;
}
.highlight .go,.highlight-ipynb .go {
color:#303030;
}
.highlight .gp,.highlight-ipynb .gp {
color:#C65D09;
font-weight:bold;
}
.highlight .gs,.highlight-ipynb .gs {
font-weight:bold;
}
.highlight .gu,.highlight-ipynb .gu {
color:#800080;
font-weight:bold;
}
.highlight .gt,.highlight-ipynb .gt {
color:#0040D0;
}
.highlight .kc,.highlight-ipynb .kc {
color:#007020;
font-weight:bold;
}
.highlight .kd,.highlight-ipynb .kd {
color:#007020;
font-weight:bold;
}
.highlight .kn,.highlight-ipynb .kn {
color:#007020;
font-weight:bold;
}
.highlight .kp,.highlight-ipynb .kp {
color:#007020;
}
.highlight .kr,.highlight-ipynb .kr {
color:#007020;
font-weight:bold;
}
.highlight .kt,.highlight-ipynb .kt {
color:#902000;
}
.highlight .m,.highlight-ipynb .m {
color:#208050;
}
.highlight .s,.highlight-ipynb .s {
color:#4070A0;
}
.highlight .na,.highlight-ipynb .na {
color:#4070A0;
}
.highlight .nb,.highlight-ipynb .nb {
color:#007020;
}
.highlight .nc,.highlight-ipynb .nc {
color:#0E84B5;
font-weight:bold;
}
.highlight .no,.highlight-ipynb .no {
color:#60ADD5;
}
.highlight .nd,.highlight-ipynb .nd {
color:#555555;
font-weight:bold;
}
.highlight .ni,.highlight-ipynb .ni {
color:#D55537;
font-weight:bold;
}
.highlight .ne,.highlight-ipynb .ne {
color:#007020;
}
.highlight .nf,.highlight-ipynb .nf {
color:#06287E;
}
.highlight .nl,.highlight-ipynb .nl {
color:#002070;
font-weight:bold;
}
.highlight .nn,.highlight-ipynb .nn {
color:#0E84B5;
font-weight:bold;
}
.highlight .nt,.highlight-ipynb .nt {
color:#062873;
font-weight:bold;
}
.highlight .nv,.highlight-ipynb .nv {
color:#BB60D5;
}
.highlight .ow,.highlight-ipynb .ow {
color:#007020;
font-weight:bold;
}
.highlight .w,.highlight-ipynb .w {
color:#BBBBBB;
}
.highlight .mf,.highlight-ipynb .mf {
color:#208050;
}
.highlight .mh,.highlight-ipynb .mh {
color:#208050;
}
.highlight .mi,.highlight-ipynb .mi {
color:#208050;
}
.highlight .mo,.highlight-ipynb .mo {
color:#208050;
}
.highlight .sb,.highlight-ipynb .sb {
color:#4070A0;
}
.highlight .sc,.highlight-ipynb .sc {
color:#4070A0;
}
.highlight .sd,.highlight-ipynb .sd {
color:#4070A0;
font-style:italic;
}
.highlight .s2,.highlight-ipynb .s2 {
color:#4070A0;
}
.highlight .se,.highlight-ipynb .se {
color:#4070A0;
font-weight:bold;
}
.highlight .sh,.highlight-ipynb .sh {
color:#4070A0;
}
.highlight .si,.highlight-ipynb .si {
color:#70A0D0;
font-style:italic;
}
.highlight .sx,.highlight-ipynb .sx {
color:#C65D09;
}
.highlight .sr,.highlight-ipynb .sr {
color:#235388;
}
.highlight .s1,.highlight-ipynb .s1 {
color:#4070A0;
}
.highlight .ss,.highlight-ipynb .ss {
color:#517918;
}
.highlight .bp,.highlight-ipynb .bp {
color:#007020;
}
.highlight .vc,.highlight-ipynb .vc {
color:#BB60D5;
}
.highlight .vg,.highlight-ipynb .vg {
color:#BB60D5;
}
.highlight .vi,.highlight-ipynb .vi {
color:#BB60D5;
}
.highlight .il,.highlight-ipynb .il {
color:#208050;
}
